* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

button {
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100vw;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    width: auto;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
}

#gameArea {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#symbolSelectContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.symbolButton {
    width: 4.5em;
    height: 1.5em;
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
    border: 1px solid grey;
    background-color: white;
    border-radius: 10px;
    margin-right: 15px;
    margin-left: 15px;
    filter: drop-shadow(0.1em 0.1em 0.1em rgba(25, 25, 25, 0.3));
}

.selectedSymbol {
    border: 2px solid black;
    filter: drop-shadow(0.1em 0.1em 0.1em rgba(0, 0, 0, 0.8));
}

#difficultySelectContainer {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

#difficultySelect {
    width: 200px;
    border: none;
    border-bottom: 2px solid #363636;
    font-size: 16px;
}

#resetButton {
    width: 4.5em;
    height: 1.5em;
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
    border: 1px solid grey;
    background-color: white;
    border-radius: 10px;
    margin-right: 15px;
    margin-left: 15px;
    filter: drop-shadow(0.1em 0.1em 0.1em rgba(25, 25, 25, 0.3)); 
}

#gameContainer {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    filter: drop-shadow(0.3em 0.3em 0.3em rgba(25, 25, 25, 0.3));
}

#board {
    align-self: flex-start;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 75px 75px 75px;
    grid-template-rows: 75px 75px 75px;
    justify-content: center;
    align-content: center;
}

.boardSquare {
    width: 75px;
    height: 75px;
    border: none;
    background-color: white;
    font-size: 25px;
    font-weight: 600;
    line-height: 100%;
    text-align: center;
}

#boardSquare0 {
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
}

#boardSquare1 {
    border-top: 1px solid black;
}

#boardSquare2 {
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
}

#boardSquare3 {
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
}

#boardSquare4 {
    border-top: 1px solid black;
}

#boardSquare5 {
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
}

#boardSquare6 {
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#boardSquare7 {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

#boardSquare8 {
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.userWinningCombo {
    background-color: #a8d695;
}

.aiWinningCombo {
    background-color: #d695a9;
}

.drawSquare {
    background-color: #b5b5b5;
}

@keyframes boardSquareAnimate {
    from {font-size: 1px;}
    to {font-size: 25px;}
}

.animate {
    animation-name: boardSquareAnimate;
    animation-duration: 0.75s;
}

